


.clock {
  width: 700px;
  font-family: 'Fjalla One', sans-serif;
  border: 1px solid black;
  padding: 50px;
  background-color: lightblue;
  border-radius: 10%;
}

.clock-time {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.clock-date{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs{
  margin-top: 10px;
  width: 300px;
  background-color: yellow;
  display: flex;
  flex-direction: column;
}

.tab-headers{
  display:flex;
  padding: 10px;
}

.tab-headers h1{
  padding:10px;
  border: 1px solid black;
}

.content{
  margin: auto;

}
